/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
	font-family: Muli, sans-serif;
	font-size: 15px;
	line-height: 1.65em;
	color: #555;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Muli, sans-serif;
	font-weight: normal;
	line-height: 1.2em;
	color: #333;
}

h1 { font-size: 35px; margin-bottom: 15px; }
h2 { font-size: 31px; margin-bottom: 10px; }
h3 { font-size: 27px; margin-bottom: 10px; }
h4 { font-size: 23px; margin-bottom: 5px; }
h5 { font-size: 19px; margin-bottom: 5px; }
h6 { font-size: 15px; margin-bottom: 5px; text-transform: uppercase; }
 
a, a:visited, a:link {
	color: #2E9979;
	text-decoration: none;
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
}

a:hover { color: #aaa; }

strong { color: #555; }

pre {
	display: none;
	padding: 10px 0 10px 20px;
	margin: 0 0 20px 10px;
	border-left: 3px solid #eee;
	font-family: monospace;
	font-size: 85%;
	line-height: 1.3em;
	white-space: pre-wrap;
	overflow: hidden;
}


.move-right { float: right; }
.move-left { float: left; }
.get-code { font-family: Arial, sans-serif; font-weight: bold; }
.big { margin-bottom: 80px; font-size: 16px; text-align: center; font-style: italic; }

/* #Page Styles
================================================== */


/* page header */

header { 
	position: relative; 
	padding: 80px 40px 40px; 
	margin-bottom: 80px;
	text-align: center;
	background: #7E7E7E url(../images/header.jpg) no-repeat fixed center 0;
}

header h1 { 
	margin-bottom: 50px;
	color: #f5f5f5;  
	letter-spacing: 1px;
	text-shadow: 0 1px 0 #444;
}

header h1 a {
	color: inherit!important;
}

header a[href^="#content"] {
	display: block;
	font-style: italic;
	color: #bbb;
}

header a[href^="#content"]:hover {
	color: #ddd;
}

.menu {
	display: inline-block;
	margin-bottom: 10px;
}

.menu a:hover {
	text-decoration: underline; 
}

header .menu a {
	float: left;
	min-width: 120px;
	padding: 10px 15px; 
	line-height: 20px; 
	font-weight: bold;
	color: #fff;
	background-color: #2E9979;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
}

header .menu a:first-child {
	background-color: #36B38D; 
}


/* page content */

#content {
	padding-top: 40px;
}

.content-entry {
	margin-bottom: 100px;
}

.skins .content-entry {
	margin-bottom: 80px;
}

.content-entry h2 {
	text-transform: uppercase;
	color: #bbb;
	font-size: 27px;
	margin-bottom: 20px;
}

.content-entry .spec {
	line-height: 1.8em;
	margin-bottom: 0;
	padding-bottom: 20px;
}

.content-entry .spec em {
	text-decoration: underline;
}

.content-entry .spec ul {
	display: inline;
	margin: 0;
	list-style: none;
}

.content-entry .spec ul li {
	display: inline-block;
	padding: 0 5px;
	margin: 0 5px 0 0;
	color: #999; 
	font: 13px/1.6em "Lucida Console", Monaco, monospace;
	background-color: #f5f5f5; 
}

.content-entry .skins-button {
	text-align: center;
	margin-top: 5px;
}

.content-entry .skins-button a {
	display: inline-block;
	padding: 10px;
	line-height: 20px;
	border: 2px solid #2E9979;
	text-align: center;
	min-width: 200px;
	border-radius: 20px;
	font-weight: bold;
	letter-spacing: 1px;
}

.content-entry .skins-button a:hover {
	background-color: #2E9979;
	color: #fff;
}

.content-entry .skins-button span {
	display: block;
	font-size: 13px;
	color: #bbb;
	padding-top: 10px;
}

/* page footer */

footer {
	padding: 20px 0 20px;
	font-size: 13px;
	color: #aaa;
	text-align: center;
}

footer .menu a {
	color: inherit!important;
	
}

footer .menu > a {
	text-transform: uppercase;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		header {  margin-bottom: 60px; }
		.content-entry { margin-bottom: 80px; }
		pre { margin-left: 0; }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		header { padding-left: 20px; padding-right: 20px; }
		header .menu a { min-width: 0; }
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/